

 
div {
    background-color: black;
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: 1;    
}


@keyframes change {
    0%, 50% {
        color: white
    }
    100% {
        color:rgb(255,255,255,0.0);
    }
}